<template name="standardLayout">
  {{> header}}
  <div class="full-window row" style="margin-bottom: 0px;">
    <div class="full-window col s12 m4 l2" id="projects-column" style="padding-right:20px; border-right: 1px solid #b6b6b6;">
      {{> yield region="projects"}}
    </div>
    <div class="full-window col m8 l10 grey lighten-3" id="tasks-column">
      {{> yield region="tasks"}}
    </div>
  </div>
  <footer class="page-footer" style="margin-top: 0px">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Footer Content</h5>
          <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2014 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
      
</template>