<template name="taskList">
  <div class="container">
    <div class="row" id="task-grid">
      {{#sortable items=tasks handle=".drag-handle"}}
        {{> taskItem}}
      {{/sortable}}
      {{> newTaskForm}}
    </div>
  </div>
  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a id="create-task-btn" class="btn-floating btn-large deep-purple accent-2">
      <i class="large material-icons">mode_edit</i>
    </a>
    <!-- <ul>
      <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
      <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
      <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
      <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
    </ul> -->
  </div>
</template>